/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    /* background: lightblue; */
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    margin: 0;
    font-size: 14px;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    height: 98vh;
}

.noDisplay {
    display: none;
}

.navButton {
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body:not(.tabbing) a:active, 
body:not(.tabbing) a:focus {
    border: none;
    background: none;
    outline: none;
}

.clearButton {
    padding: 1em;
    font-size: 1rem;
    border-radius: 1.5rem;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background: none;
    outline: none;
    cursor: pointer;
}

#navbarB {
    position: fixed;
    bottom: 0.5rem;
    width: 100vw;
    text-align: center;
}
/* About Section */
.hi {
    height: 100vh;
    width: 100vw;
}

#logo {
    width: 100vw;
    position: fixed;
    top: 30px;
    text-align: center;
}

#myLogo {
    cursor: pointer;
}

.hello {
    width: 100vw;
    position: fixed;
    top: 42vh;
    margin: auto;
    font-size: 2rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.hello > p {
    width: 80vw;
    margin: auto;
}


